.calendar-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: #f5f5f5; /* Light gray background similar to Google Calendar */
  color: #202124; /* Dark text color for good contrast */
  overflow: hidden; /* Prevent overflow */
}

.rbc-calendar {
  border: none; /* Remove borders for a cleaner look */
  height: 100%; /* Full height for the calendar */
  padding: 20px; /* Add some padding if needed */
}

.rbc-header {
  background-color: #ffffff; /* White background for headers */
  font-weight: bold;
  color: #202124; /* Text color for headers */
}

.rbc-event {
  background-color: #fff; /* Google Calendar event color */
  color: #202124;
  border-radius: 4px;
  border-left: 7px solid #1a73e8;
  margin: 2px;
  cursor: pointer;
  overflow: visible;
}

.rbc-event:hover {
  background-color: #1a73e8;
  color: #fff; 
}
.rbc-event.rbc-selected{
  background-color: #1a73e8;
  color: #fff;
}

.calendar-container .rbc-btn-group{
  white-space: pre-wrap !important;
}

